@import "tailwindcss";

@font-face {
  font-family: 'Gistesy';
  src: local('Gistesy'), url('/src/assets/font/gistesy/Gistesy.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.gistesy-font {
  font-family: 'Gistesy', sans-serif;
}